// -------------- THEME SWITCHER -------------- //
@mixin dark-appearance {
  filter: invert(1);
  img {
    filter: invert(1);

    &.ioda { filter: invert(0); }
  }
}

body[a="dark"] { @include dark-appearance; }

@media (prefers-color-scheme: dark) {
  body[a="auto"] { @include dark-appearance; }
}
// -------------------------------------------- //

// Set black background for body
body {
  background-color: black;
  color: white;  // Set text color to white
  font-family: monospace;
  font-size: 19px;
  line-height: 1.4;
  margin: 0;
  overflow-wrap: break-word;
}

// Additional styles for your content
.post-meta {
  text-align: right;
}

h2, h3, h4, h5, h6 {
  margin-top: 3rem;
}

hr {
  margin: 2rem 0;
  text-align: center;
  border: 0;
  color: white;  // Ensuring hr content is white for visibility
  &:before { content: '/////' }
  &:after { content: attr(data-content) '/////' }
}

p {
  margin: 1rem 0;
  color: white;  // Ensuring paragraphs are white for visibility
}

li {
  margin: 0.4rem 0;
  color: white;  // Ensuring list items are white for visibility
}

*:target {
  background: yellow;
}

.w {
  max-width: 640px;
  margin: 0 auto;
  padding: 4rem 2rem;
}
